[edit]
command = "nvim"

[diff]
pager = "less -R"

[merge]
command = "zsh"
args = [
    "-c",
    "cp {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base && code --new-window --wait --merge {{ "{{" }} .Destination {{ "}}" }} {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base {{ "{{" }} .Source {{ "}}" }}",
]

[data]
machine = {{ if eq .chezmoi.hostname "Olympic" -}} "work" {{- else -}} "personal" {{- end }}
