[user]
	email = {{ if eq .machine "work" -}} tyler@ambrook.com {{- else if eq .machine "personal" -}} tylerkindy@gmail.com {{- end }}
	name = Tyler Kindy
	signingkey = {{ if eq .machine "work" -}}
      ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHjxhH7fHBHU7RAk8EPIqdOKaNNIqtFcoiiUP19a4Vee
    {{- else if eq .machine "personal" -}}
      /Users/tkindy/.ssh/id_rsa.pub
    {{- end }}
[core]
	hooksPath = /Users/tkindy/.git_hooks
	excludesfile = /Users/tkindy/.gitignore_global
[commit]
	gpgsign = true
[remote "origin"]
	prune = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[advice]
	detachedHead = false
	macheteEditorSelection = false
[rebase]
	updateRefs = true
	autosquash = true
[gpg]
	format = ssh
{{- if eq .machine "work" }}
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}
[rerere]
	enabled = true
[merge]
	conflictstyle = zdiff3
[diff]
	algorithm = histogram
[init]
	defaultBranch = main
