# Clear greeting
set -g fish_greeting ""

set -x VISUAL "nvim"
set -x EDITOR "$VISUAL"
set -x BREW_HOME "/opt/homebrew"
set -x PROJECTS_HOME "$HOME/src"

set -x BAT_THEME "Solarized (dark)"

fish_add_path "$HOME/bin"
fish_add_path "$HOME/.local/bin"
fish_add_path "$BREW_HOME/bin"

{{- if eq .machine "personal" }}
fish_add_path "$HOME/.cargo/bin"

# Ruby
fish_add_path "$BREW_HOME/opt/ruby/bin"
fish_add_path "$BREW_HOME/lib/ruby/gems/3.3.0/bin"

{{- else if eq .machine "work" }}
{{- end }}

# Use Vim keybindings
fish_vi_key_bindings

set -x GPG_TTY (tty)

starship init fish | source
